.a {
	background-color: grey;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;

}

.contener {
	display:flex;
	width: 100%;
	justify-content: center;
	gap: 1em;
}

.contener > div {
	background-color: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	width: 50%;
	margin-top: 20px;
}

.footer {
    background-color: grey;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 20px;
}